{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block navbar %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">ML Runner</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="{{ url_for('main.index') }}">Strona główna</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
             aria-expanded="false">Inne linki<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ url_for('main.hello_from_kwargs', name='Andrzej', amount=2) }}">Andrzej 2</a></li>
            <li><a href="{{ url_for('main.hello_from_kwargs', name='admin', amount=2) }}">admin 2</a></li>
            <li><a href="{{ url_for('main.hello_from_kwargs', name='krzys', amount=10) }}">krzys 10</a></li>
            <li><a href="{{ url_for('main.hello_from_kwargs', name='Pollena', amount=2000) }}">Pollena 2000</a></li>
          </ul>
        </li>
        <li><a href="{{ url_for('main.users_list') }}">Users list</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
             aria-expanded="false">
            {% if session.name %} {{ session.name }} {% else %} Unknown {% endif %}
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="{{ url_for('auth.login') }}">Log in</a></li>
            <li><a href="{{ url_for('auth.logout') }}">Log out</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
{% endblock navbar %}

{% block content %}
  <div class="container">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <div class="alert alert-info alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{ message }}
          </div>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% block custom_content %}
    {% endblock %}
  </div>
{% endblock %}