{% extends "base.html" %}

{% block content %}
  <h1>Hello World!</h1>
  <div>
    <ul>
      <li>{{ moment(right_now)}}</li>
      <li>{{ moment(right_now).format('LT') }}</li>
      <li>{{ moment(right_now).format('LTS') }}</li>
      <li>{{ moment(right_now).format('l') }}</li>
      <li>{{ moment(right_now).format('LLL') }}</li>
      <li>{{ moment(right_now).format('lll') }}</li>
      <li>{{ moment(right_now).fromNow() }}</li>
      <li>{{ moment(right_now).toNow() }}</li>
      <li>{{ moment(right_now).calendar() }}</li>
      <li>{{ moment(right_now).valueOf() }}</li>
      <li>{{ moment(right_now).unix() }}</li>
    </ul>
  </div>
{% endblock content %}
