{% extends "base.html" %}

{% block breadcrumbs %}
  <ol class="breadcrumb">
    <li><a href="{{ url_for('ml_models.models_list') }}">ML Models</a></li>
    <li class="active">ML Model details</li>
  </ol>
{% endblock %}
{% block container %}
  <h1>ML Model details</h1>
  <ul class="list-group">
    <li class="list-group-item"><strong>id:</strong> {{ model.id }}</li>
    <li class="list-group-item"><strong>Model name:</strong> {{ model.model_name }}</li>
    <li class="list-group-item"><strong>Description:</strong> {{ model.description }}</li>
    <li class="list-group-item">
      <a href="{{ url_for('ml_models.model_download', model_id=model.id) }}" target="_blank">
        download {{ model.pickle_filename }}
      </a>
    </li>
  </ul>

  <hr/>
  <h2>Related runs</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Date of creation</th>
        <th>Input file</th>
      </tr>
    </thead>
    <tbody>
      {% for run in model_runs_pagnation.items %}
        <tr>
          <td>{{ run.created_at }}</td>
          <td>{{ run.csv_filename }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <div>
    Displaying {{ model_runs_pagnation.per_page }} of {{ model_runs_pagnation.total }}
  </div>
  <nav aria-label="Page navigation">
    <ul class="pagination">
      {% for page in model_runs_pagnation.iter_pages(left_edge=2, left_current=2, right_current=2, right_edge=2) %}
        {% if not page %}
          <li><a>...</a></li>
        {% elif page == model_runs_pagnation.page %}
          <li><a><strong>{{ page }}</strong></a></li>
        {% else %}
          <li><a href="{{ url_for('ml_models.model_details', model_id=model.id, page=page) }}">{{ page }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </nav>
{% endblock container %}
