{% extends "base.html" %}

{% block breadcrumbs %}
  <ol class="breadcrumb">
    <li class="active">ML Models</li>
  </ol>
{% endblock %}

{% block container %}
    <h1>ML Models</h1>
    <div>
      Displaying {{ models_pagination.per_page }} of {{ models_pagination.total }}
    </div>
    <nav aria-label="Page navigation">
      <ul class="pagination">
        {% for page in models_pagination.iter_pages(left_edge=2, left_current=2, right_current=2, right_edge=2) %}
          {% if not page %}
            <li><a>...</a></li>
          {% elif page == models_pagination.page %}
            <li><a><strong>{{ page }}</strong></a></li>
          {% else %}
            <li><a href="{{ url_for('ml_models.models_list', page=page) }}">{{ page }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
    <ul>
    {% for model in models_pagination.items %}
      <li>
        {{ model.model_name }}
        <a href="{{ url_for('ml_models.model_details', model_id=model.id) }}">
          [details]
        </a>
        <a href="{{ url_for('ml_models.model_download', model_id=model.id) }}"  target="_blank">
          [download]
        </a>
      </li>
    {% endfor %}
  </ul>
  <a class="btn btn-lg btn-success" href="{{ url_for('ml_models.model_create') }}">
    <span class="glyphicon glyphicon-plus"></span>
    Add new model
  </a>
{% endblock container %}
